.overview-container {
    margin-bottom: 40px;
    padding: 20px;
}

.card-container {
    gap: 20px;
    border-radius: 10px;
}

.pie-chart-container {
    width: 260px;
    height: 300px;
}

.bar-chart {
    margin-left: -100px;
    margin-right: -100px;
}

.bar-chart-container {
    width: 70%;
}