<aside class="sidebar">
        <h3 class="header-text">Cyberरक्षक</h3>
        <div class="sidebar-container">
                <ul>
                        <li routerLinkActive="active" routerLink="/overview"><i class="fa fa-home pl-4"
                                        aria-hidden="true"></i><a>Dashboard</a></li>
                        <li routerLinkActive="active" routerLink="/all-awb-list"><i class="fa fa-truck pl-4"
                                        aria-hidden="true"></i><a>All AWB
                                        List</a></li>
                        <!-- <li routerLinkActive="active"><i class="fa fa-truck pl-4" aria-hidden="true"></i><a
                                        routerLink="/awb-details">AWB
                                        Details</a></li>
                        <li routerLinkActive="active"><i class="fa fa-user pl-4" aria-hidden="true"></i><a
                                        routerLink="/user-behaviour">User Behaviour</a></li> -->
                        <li routerLinkActive="active" routerLink="/setting"><i class="fa fa-cog pl-4"
                                        aria-hidden="true"></i><a>Settings</a></li>
                </ul>
        </div>
</aside>