table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {

    text-align: center;
    padding: 8px;
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: var(--white);
    border: 1px solid var(--border);
}

.view-insight-btn {
    background: var(--card-header);
}