.access-hours {
    background: var(--white);
    box-shadow: var(--home-card-shadow);
    padding: 25px;
    border-radius: 10px;
}

.text-red {
    color: red;
}

.card-text {
    margin-bottom: -8px;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

span {
    text-align: center;
}