// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $cybersafeview-primary: mat.define-palette(mat.$indigo-palette);
// $cybersafeview-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $cybersafeview-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $cybersafeview-theme: mat.define-light-theme((color: (primary: $cybersafeview-primary,
//         accent: $cybersafeview-accent,
//         warn: $cybersafeview-warn,
//       )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($cybersafeview-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $cybersafeview-primary: mat.define-palette(mat.$indigo-palette);
// $cybersafeview-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $cybersafeview-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $cybersafeview-theme: mat.define-light-theme((color: (primary: $cybersafeview-primary,
//         accent: $cybersafeview-accent,
//         warn: $cybersafeview-warn,
//       )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($cybersafeview-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: #f5f9ff;
  overflow-x: hidden;
}

body {
  font-family: system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.item-value {
  font-size: 35px;
  font-weight: 600;
}

:root {
  --primary-btn: #05f7c0;
  --violet-header: #362f5e;
  --card-header: #afedd8;
  --white: #fff;
  --border: #d8d8d8;
  --black: #000;
  --gray: #e9e9ec;
  --danger: #C03D29;
  --home-card-shadow: 0px 7px 15px 0px rgba(0, 0, 0, .02), 0px 28px 28px 0px rgba(0, 0, 0, .02), 0px 63px 38px 0px rgba(0, 0, 0, .01);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tooltip {
  font-size: 12px;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: white;
}

.mdc-tooltip__surface {
  background-color: #000;
  background: black;
  color: white;
}

.fa-info-circle,
.fa-download,
.fa-envelope {
  color: var(--violet-header);
}